@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Parisienne&display=swap");
@import "./../../sass/_animations";

$bg :linear-gradient(to bottom, #000000, #000000, #000000, #020202, #030303, #050505, #070707);

.quote-container {
    width: 100vw;
    height: 100vh;
    background-image: $bg;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Parisienne;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: Caveat;
        font-size: 52px;
        margin: 0 30px 0 15px;
        margin-bottom: 120px;
        opacity: 0;
        animation: $quote;
    }
    .the-title {
        position: absolute;
        left: calc(50vh)-20px;
        top: calc(50vw)-376px;
        font-size: 1.5rem;
        animation: $title;
    }
    .more-wisdom {
        position: fixed;
        bottom: 8.5vh;
        font-size: 22px;
        border: 1px solid #fff;
        padding: 15px 25px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 32px;
        padding: 15px 50px;
        margin: 10px auto;
        box-shadow: 2px 3px 3px #b7b7b7;
        animation: $button;

        &:hover {
            background: rgb(7, 7, 7);
        }

        &:active {
            outline: none;
            box-shadow: none;
            bottom: 8vh;
            transition-duration: 0.2s;
        }
    }
}

@media screen and (max-width: 975px) {
    .quote-container {
        .the-title {
            animation: $title-mid;
            position: absolute;
            top: 5px;
            left: 30px;
        }
        .more-wisdom {
            animation: $button-mid;
        }
        h1 {
            animation: $quote-mid;
        }
    }
}

@media screen and (max-width: 350px) {
    .quote-container {
        .the-title {
            font-size: 18px;
        }
        .more-wisdom {
            animation: $button-mid;
        }
        h1 {
            font-size: 36px;
        }
    }
}
