.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#copyright {
  z-index: 99;
  position: fixed;
  font-size: 1rem;
  top: 13vh;
  right: -70px;
  opacity: 0.25;
  transform: rotate(90deg);
  text-shadow: rgb(31, 30, 30) 2px 2px 6px;
  color: #fff;
}
